page-signup {
	background: url("../assets/bg/0000.png") no-repeat #ef966a;
	background-size: 100% auto;
}
page-signup ion-content {
	background: transparent !important;
}

page-signup .loginContainer {
	height: 443px;
}
