page-forgetpassword {
	background: url("../assets/bg/0000.png") no-repeat #ef966a;
	background-size: 100% auto;
}
page-forgetpassword ion-content {
	background: transparent !important;
}
page-forgetpassword .loginContainer {
	height: 430px;
}